<%= form_for(@delivery, remote: true) do |f| %>
    <%= f.hidden_field :delivery_date %>
    <%= f.hidden_field :deadline %>
    <%= f.hidden_field :speed %>
      <ul class="data-list">
        <li class="data-list__item">
          <p class="data-list__info">Shipping speed</p>
          <div class="data-list__count">
            <div class="option-list__arrow">
              <a href="#" class="option-list__arrow-up"></a>
              <a href="#" class="option-list__arrow-down"></a>
            </div>
            <div class="option-list__info"><span class="option-list__info_fw"><%= @delivery.speed %> </span>business days</div>
            <span class="data-list__ems">EMS</span>
            <div class="data-list__price"><i class="fa fa-<%=@currency.code %>"></i><%= get_price(@opt.speeds.find_by_days(@delivery.speed).price, @currency) %>.-</div>
          </div>
        </li>
        <li class="data-list__item data-list__item_mt_20">
          <label class="data-list__label" for="name">Full name</label>
          <div class="data-list__field">
            <%= f.text_field :full_name, class: 'input data-list__input', id: 'name'%>
            <div class="data-list__explanation">eg. Nancy Stachham</div>
          </div>
        </li>
        <li class="data-list__item data-list__item_mt_10">
          <label class="data-list__label" for="street">Street address</label>
          <div class="data-list__field">
            <%= f.text_field :street, class: 'input data-list__input', id: 'street'%>
            <div class="data-list__explanation">eg. 3740 Atlantic Ave.,apartment 31</div>
          </div>
        </li>
        <li class="data-list__item data-list__item_mt_13">
          <label class="data-list__label" for="city">City</label>
          <div class="data-list__field">
            <%= f.text_field :city, class: 'input data-list__input', id: 'city'%>
          </div>
        </li>
        <li class="data-list__item data-list__item_mt_18">
          <label class="data-list__label" for="state">State/Province</label>
          <div class="data-list__field">
            <%= f.text_field :state, class: 'input data-list__input', id: 'state'%>
          </div>
        </li>
        <li class="data-list__item data-list__item_mt_13">
          <p class="data-list__info">Country</p>
          <div class="data-list__field">
     <!--       <%= f.text_field :country, class: 'input data-list__input', id: 'country'%>-->
<!--
            <div class="data-list__country-switch"><i class="fa fa-sort"></i>New Zealand</div>
-->
          </div>
        </li>
        <li class="data-list__item data-list__item_mt_18">
          <label class="data-list__label" for="ZipCode">Zip code</label>
          <div class="data-list__field">
            <%= f.text_field :zip, class: 'input data-list__input', id: 'ZipCode'%>
            <div class="data-list__explanation">Enter n/a if not applicable</div>
          </div>
        </li>
        <li class="data-list__item data-list__item_mt_15">
          <label class="data-list__label" for="email">Email</label>
          <div class="data-list__field">
            <%= f.email_field :email, class: 'input data-list__input', id: 'email'%>
          </div>
        </li>
        <li class="data-list__item data-list__item_mt_15">
          <label class="data-list__label" for="tel">Telephone No.</label>
          <div class="data-list__field data-list__field_mr_39">
            <%= f.text_field :tel, class: 'input data-list__input', id: 'tel'%>
            <div class="data-list__explanation">only used if service needs to set up a delivery time</div>
          </div>
        </li>
        <li class="data-list__item data-list__item_mt_15">
          <label class="data-list__label data-list__label_lh_13" for="addInf">Additional info</label>
          <div class="data-list__field ">
            <%= f.text_area :info, class: 'input data-list__input_text', id: 'addInf'%>
            <div class="data-list__explanation">Not necessary</div>
          </div>
        </li>
        <li class="data-list__item data-list__item_mt">
          <label class="data-list__label" for="gitBox">Deliver an a git box</label>
          <div class="data-list__field data-list__field_w_258">
            <%= f.check_box :git_box, id: 'gitBox', class:'data-list__input_checkbox' %>
            <div class="data-list__price-git <%= 'item__price_strike'unless @delivery.git_box %>"><i class="fa fa-<%=@currency.code %>"></i><%= get_price(@opt.git_box, @currency) %>.-</div>
          </div>
        </li>
      </ul>
    <%= submit_tag 'remote_update', id: 'btn_del_update', style:'display:none' %>
    <%= submit_tag 'go_next', id: 'btn_submit_de', style: 'display:none' %>
<%end%>
