<p id="notice"><%= notice %></p>

<p>
  <strong>Delivery date:</strong>
  <%= @delivery.delivery_date %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @delivery.deadline %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @delivery.speed %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @delivery.full_name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @delivery.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @delivery.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @delivery.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @delivery.country %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @delivery.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @delivery.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @delivery.tel %>
</p>

<p>
  <strong>Info:</strong>
  <%= @delivery.info %>
</p>

<p>
  <strong>Git box:</strong>
  <%= @delivery.git_box %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
