<%product = variant.product%>
<div style="" class="item variant_<%=variant.id%>" id="id_<%=block%>">

  <div class="item__img-wrap item__img-wrap_choice">
    <%if product.variants.length > 1%>
        <div class="color-choice">
          <ul class="color-choice__list">
            <%product.variants.each do |var|%>
                <li class="color-choice__item <%='color-choice__item_active' if var==variant%>">
                  <%=link_to '<i class="fa fa-circle"></i>'.html_safe, change_color_variant_path(var, {block: block}),
                             class: 'color-choice__link', style: "color: #{var.color.code}", remote: true, method: :post%>
                </li>
            <% end%>
          </ul>
        </div>
    <%end%>
    <%=link_to( variant, class: 'item__img-link item__img-link_bs') do%>

      <img data-lazy-src=<%= image_url variant.pictures.find_by(order: 0).image%> alt="Rhythmic"/>

      <div class="item__name-link-wrap">
        <p class="item__name-link">Rhythmic Gymnastics Leotard #29</p>
      </div>
      <%if variant.stock.include? 'Stock' %>
          <div class="item__stock-img"></div>
      <%end%>

        <%end%>
  </div>

  <div class="item__bottom">
    <%if product.old_price && product.old_price > product.price%>
        <div class="item__price item__price_strike"><i class="fa fa-eur"></i><%=product.old_price%>.-</div>
        <div class="item__price item__price_red"><i class="fa fa-eur"> </i><%=product.price%>.-</div>
    <%else%>
        <div class="item__price"><i class="fa fa-eur"> </i>109.-</div>
    <%end%>
    <a class="item__rotator" href="#"></a>
    <%=render partial: 'products/like_heart', locals: {variant: variant}%>
  </div>

</div>
