<%= form_for(@line_item) do |f| %>
  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% @line_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :units %><br>
    <%= f.text_field :units %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :chest %><br>
    <%= f.number_field :chest %>
  </div>
  <div class="field">
    <%= f.label :waist %><br>
    <%= f.number_field :waist %>
  </div>
  <div class="field">
    <%= f.label :hips %><br>
    <%= f.number_field :hips %>
  </div>
  <div class="field">
    <%= f.label :biceps %><br>
    <%= f.number_field :biceps %>
  </div>
  <div class="field">
    <%= f.label :elbow %><br>
    <%= f.number_field :elbow %>
  </div>
  <div class="field">
    <%= f.label :wrist %><br>
    <%= f.number_field :wrist %>
  </div>
  <div class="field">
    <%= f.label :collar %><br>
    <%= f.number_field :collar %>
  </div>
  <div class="field">
    <%= f.label :shoulder %><br>
    <%= f.number_field :shoulder %>
  </div>
  <div class="field">
    <%= f.label :neck_circle %><br>
    <%= f.number_field :neck_circle %>
  </div>
  <div class="field">
    <%= f.label :from_neck %><br>
    <%= f.number_field :from_neck %>
  </div>
  <div class="field">
    <%= f.label :to_waist %><br>
    <%= f.number_field :to_waist %>
  </div>
  <div class="field">
    <%= f.label :to_skirt %><br>
    <%= f.number_field :to_skirt %>
  </div>
  <div class="field">
    <%= f.label :sleeves %><br>
    <%= f.number_field :sleeves %>
  </div>
  <div class="field">
    <%= f.label :skirt %><br>
    <%= f.number_field :skirt %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.number_field :body %>
  </div>
  <div class="field">
    <%= f.label :crystal_type %><br>
    <%= f.text_field :crystal_type %>
  </div>
  <div class="field">
    <%= f.label :crystal_amount %><br>
    <%= f.number_field :crystal_amount %>
  </div>
  <div class="field">
    <%= f.label :special_request %><br>
    <%= f.text_area :special_request %>
  </div>
  <div class="field">
    <%= f.label :model_name %><br>
    <%= f.text_field :model_name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :variant_id %><br>
    <%= f.number_field :variant_id %>
  </div>
  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
