<h1>Listing line_items</h1>

<table>
  <thead>
    <tr>
      <th>Units</th>
      <th>Size</th>
      <th>Age</th>
      <th>Height</th>
      <th>Chest</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Biceps</th>
      <th>Elbow</th>
      <th>Wrist</th>
      <th>Collar</th>
      <th>Shoulder</th>
      <th>Neck circle</th>
      <th>From neck</th>
      <th>To waist</th>
      <th>To skirt</th>
      <th>Sleeves</th>
      <th>Skirt</th>
      <th>Body</th>
      <th>Crystal type</th>
      <th>Crystal amount</th>
      <th>Special request</th>
      <th>Model name</th>
      <th>Price</th>
      <th>Product</th>
      <th>Variant</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.units %></td>
        <td><%= line_item.size %></td>
        <td><%= line_item.age %></td>
        <td><%= line_item.height %></td>
        <td><%= line_item.chest %></td>
        <td><%= line_item.waist %></td>
        <td><%= line_item.hips %></td>
        <td><%= line_item.biceps %></td>
        <td><%= line_item.elbow %></td>
        <td><%= line_item.wrist %></td>
        <td><%= line_item.collar %></td>
        <td><%= line_item.shoulder %></td>
        <td><%= line_item.neck_circle %></td>
        <td><%= line_item.from_neck %></td>
        <td><%= line_item.to_waist %></td>
        <td><%= line_item.to_skirt %></td>
        <td><%= line_item.sleeves %></td>
        <td><%= line_item.skirt %></td>
        <td><%= line_item.body %></td>
        <td><%= line_item.crystal_type %></td>
        <td><%= line_item.crystal_amount %></td>
        <td><%= line_item.special_request %></td>
        <td><%= line_item.model_name %></td>
        <td><%= line_item.price %></td>
        <td><%= line_item.product_id %></td>
        <td><%= line_item.variant_id %></td>
        <td><%= line_item.order_id %></td>
        <td><%= link_to 'Show', line_item %></td>
        <td><%= link_to 'Edit', edit_line_item_path(line_item) %></td>
        <td><%= link_to 'Destroy', line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line item', new_line_item_path %>
