<p id="notice"><%= notice %></p>

<p>
  <strong>Units:</strong>
  <%= @line_item.units %>
</p>

<p>
  <strong>Size:</strong>
  <%= @line_item.size %>
</p>

<p>
  <strong>Age:</strong>
  <%= @line_item.age %>
</p>

<p>
  <strong>Height:</strong>
  <%= @line_item.height %>
</p>

<p>
  <strong>Chest:</strong>
  <%= @line_item.chest %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @line_item.waist %>
</p>

<p>
  <strong>Hips:</strong>
  <%= @line_item.hips %>
</p>

<p>
  <strong>Biceps:</strong>
  <%= @line_item.biceps %>
</p>

<p>
  <strong>Elbow:</strong>
  <%= @line_item.elbow %>
</p>

<p>
  <strong>Wrist:</strong>
  <%= @line_item.wrist %>
</p>

<p>
  <strong>Collar:</strong>
  <%= @line_item.collar %>
</p>

<p>
  <strong>Shoulder:</strong>
  <%= @line_item.shoulder %>
</p>

<p>
  <strong>Neck circle:</strong>
  <%= @line_item.neck_circle %>
</p>

<p>
  <strong>From neck:</strong>
  <%= @line_item.from_neck %>
</p>

<p>
  <strong>To waist:</strong>
  <%= @line_item.to_waist %>
</p>

<p>
  <strong>To skirt:</strong>
  <%= @line_item.to_skirt %>
</p>

<p>
  <strong>Sleeves:</strong>
  <%= @line_item.sleeves %>
</p>

<p>
  <strong>Skirt:</strong>
  <%= @line_item.skirt %>
</p>

<p>
  <strong>Body:</strong>
  <%= @line_item.body %>
</p>

<p>
  <strong>Crystal type:</strong>
  <%= @line_item.crystal_type %>
</p>

<p>
  <strong>Crystal amount:</strong>
  <%= @line_item.crystal_amount %>
</p>

<p>
  <strong>Special request:</strong>
  <%= @line_item.special_request %>
</p>

<p>
  <strong>Model name:</strong>
  <%= @line_item.model_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @line_item.price %>
</p>

<p>
  <strong>Product:</strong>
  <%= @line_item.product_id %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @line_item.variant_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @line_item.order_id %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
